.homeimgdiv {
  background-image: url(../Images/Rectangle\ 3.svg);
  background-size: contain;
  height: 616px;
  width: 100%;
  background-repeat: no-repeat;
}
/* .ovdiv {
  overflow-y: hidden;
} */
.header1 {
  margin: 0%;
  font-family: Harmattan;
  font-size: 95px;
  font-weight: 700;
  line-height: 180px;
  letter-spacing: 0em;
  text-align: left;
}
.secondbtn {
  height: 33px;
  width: 132px;
  left: 1208px;
  top: 30px;
  border-radius: 8px;
  background: #0086b0;
  border: none;
}
.textdiv {
  width: 45%;
  /* height: 900px; */
  margin-left: 100px;
  padding: 80px 20px 20px 20px;
  /* margin-top: -100px; */
}
.ptag1 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0%;
  width: 500px;
}
.background2div {
  background-image: url(../Images/Rectangle\ 38.svg);
  background-size: cover;
  width: 80%;
  height: 250px;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
.inp1 {
  height: 39px;
  width: calc(496px - 156px);
  border-radius: 8px 0px 0px 8px;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
  border: none;
}
.inp1::placeholder {
  text-align: left;
  /* font-size: 20px; */
  /* color: aquamarine; */
  /* margin-left: 200px; */
  font-family: Harmattan;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #6d6d6d;
  /* width: 200px; */
}
.thirdbtn {
  border-radius: 0px 8px 8px 0px;
  background: #0086b0;
  border: none;
  height: 41px;
  /* margin-bottom: 85px; */
  width: 156px;
  /* margin-top: 0px; */
  /* padding: 20px; */
}
.inp-btn-div {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin-top: 30px;
  height: 50px;
}
.postitp {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-top: 20px;
  margin-bottom: 0;
}
.header2 {
  margin-top: 40px;
  margin-bottom: 0;
}
.paddiv {
  /* margin-top: 0px; */
  padding-top: 50px;
}
.fulldiv {
  padding: 50px;
}
.pushdiv {
  margin-bottom: 0px;
}
.trrr{
  background-color: blue;
  color: red;
}
/* 
.modal {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 25%;
  background-color: white;
  margin: 0 auto;
  width: 50%;
  height: 772px;
  text-align: center;

  border-radius: 0px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  padding: 50px;
  
}
.try-div {
  margin-top: 100px;
}
.modal::backdrop {
  background: red;
  opacity: 0;
}
.form-inp1 {
  height: 30px;
  width: 415px;
  border: none;
  border-bottom: 1px solid black;
  margin: 0 auto;
  outline: none;
}
.form-div1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  row-gap: 30px;

 
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #f0f0f0f0;

  display: none;
}
.grid {
  display: flex;
  justify-content: space-between;
}
.pred {
  width: 200px;
}
.holderdiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: red;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
}

.bg {
  color: black;
  

  padding: 10px;
}

.form-inp2 {
  height: 30px;
  width: 415px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 0 auto;
  outline: none;
}
.form-div2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  row-gap: 30px;

}
.form-inp3 {
  height: 30px;
  width: 415px;
  border: none;
  border-bottom: 1px solid black;
  margin: 0 auto;
  outline: none;
}
.form-div3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  padding: 20px;

}
.form-btn1 {
  height: 47px;
  width: 415px;
  border-radius: 8px;
  background-color: #0086b0;
  border: none;
  font-family: Harmattan;
  font-size: 25px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.xdiv {
  text-align: right;
} */
